<script>
import SidebarLeft from '../components/Home/SidebarLeft.vue';
import SidebarRight from '../components/Home/SidebarRight.vue';
import { onMounted, reactive } from 'vue';
import { httpService } from '@/services/app-service';
import Swal from "sweetalert2";

export default {
    components: { SidebarLeft, SidebarRight },
    data() {
        return {
            details: {},
        };
    },
    mounted() {
        this.getDetails();
    },
    methods: {
        getDetails() {
            httpService.DetailUser()
                .then(response => {
                    this.details = response.data;
                })
                .catch(error => {
                    console.error(error);
                });
        },
        saveChanges() {
            httpService.EditUser(this.details)
                .then(res => {
                    Swal.fire({
                        icon: 'success',
                        title: 'sửa thành công',
                    });
                })
                .catch(err => {
                    console.error(err);
                });
        },
        logout() {
            Swal.fire({
                icon: 'warning',
                title: 'Bạn có muốn thoát ra không?',
                showCancelButton: true,
                confirmButtonText: 'OK',
                cancelButtonText: 'NO',
            }).then(result => {
                if (result.value) {
                    // Xóa token khỏi local storage
                    localStorage.removeItem('authToken');
                    // Chuyển hướng đến trang đăng nhập
                    this.$router.push('/auth/Login');
                }
            });
        }

    }
};
</script>
<template>
    <div class="app">
        <div class="container">
            <div class="row g-2">
                <div class="sidebar-left shadow-lg rounded-2" style="background-color: #5950de;">
                    <SidebarLeft></SidebarLeft>
                </div>
                <div class="col-4">
                    <div class="sidebar">
                        <div class="sidebar-header sticky-top p-2 mb-3 border rounded">
                            <h5 class="font-weight-semibold">Profile</h5>
                            <p class="text-muted mb-0">Personal Information &amp; Settings</p>
                        </div>
                        <div class="col" >
                            <div class="card card-body card-bg-5">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="avatar avatar-lg mb-3">
                                        <img class="avatar-img rounded-circle avatar" src="https://static-images.vnncdn.net/files/publish/2022/9/3/bien-vo-cuc-thai-binh-346.jpeg" alt="">
                                    </div>

                                    <div class="d-flex flex-column align-items-center">
                                    </div>
                                    <div>{{details.name}}</div>
                                    <div class="d-flex">
                                        <button class="btn btn-primary mx-1" type="button" @click="logout">
                                            <i class="fa-solid fa-arrow-left"></i>
                                           <span>Logout</span>
                                        </button>
                                        <button class="btn btn-outline-default mx-1 d-xl-none" data-profile-edit="" type="button">
                                            <i class="fa-regular fa-clock"></i>
                                            <span>Settings</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-3">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item py-2">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Local Time</p>
                                                <p class="mb-0">10:25 PM</p>
                                            </div>
                                            <svg class="text-muted hw-20 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li class="list-group-item py-2">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Birthdate</p>
                                                <p class="mb-0">20/11/1992</p>
                                            </div>
                                            <svg class="text-muted hw-20 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li class="list-group-item py-2">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Phone</p>
                                                <p class="mb-0">{{details.phone}}</p>
                                            </div>
                                            <svg class="text-muted hw-20 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li class="list-group-item py-2">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Email</p>
                                                <p class="mb-0">{{details.email}}</p>
                                            </div>
                                            <svg class="text-muted hw-20 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li class="list-group-item py-2">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Website</p>
                                                <p class="mb-0">www.catherichardson.com</p>
                                            </div>
                                            <svg class="text-muted hw-20 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li class="list-group-item pt-2">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Address</p>
                                                <p class="mb-0">{{details.address}}</p>
                                            </div>
                                            <svg class="text-muted hw-20 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                                            </svg>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="card my-3">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item py-2">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Facebook</p>
                                                <a class="font-size-sm font-weight-medium" href="#">@cathe.richardson</a>
                                            </div>
                                            <svg class="text-muted hw-20 ml-1" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li class="list-group-item py-2">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Twitter</p>
                                                <a class="font-size-sm font-weight-medium" href="#">@cathe.richardson</a>
                                            </div>
                                            <svg class="text-muted hw-20 ml-1" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li class="list-group-item py-2">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Instagram</p>
                                                <a class="font-size-sm font-weight-medium" href="#">@cathe.richardson</a>
                                            </div>
                                            <svg class="text-muted hw-20 ml-1" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                            </svg>
                                        </div>
                                    </li>
                                    <li class="list-group-item py-2">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Linkedin</p>
                                                <a class="font-size-sm font-weight-medium" href="#">@cathe.richardson</a>
                                            </div>
                                            <svg class="text-muted hw-20 ml-1" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                                                <rect x="2" y="9" width="4" height="12"></rect>
                                                <circle cx="4" cy="4" r="2"></circle>
                                            </svg>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="main bg-white rounded shadow-lg">
                        <div class="profile">
                            <div class="page-main-heading sticky-top py-2 px-3 mb-3">
                                <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted d-xl-none" type="button" data-close="">
                                    <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                                    </svg>
                                </button>
                                <div class="pl-2 pl-xl-0">
                                    <h5 class="font-weight-semibold">Settings</h5>
                                    <p class="text-muted mb-0">Update Personal Information &amp; Settings</p>
                                </div>
                            </div>
                            <div class="container-xl px-2 px-sm-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="card mb-3">
                                            <div class="card-header">
                                                <h6 class="mb-1">Account</h6>
                                                <p class="mb-0 text-muted small">Update personal &amp; contact information</p>
                                            </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            <label for="firstName">Tên</label>
                                                            <input type="text" name="name" class="form-control form-control-md" v-model="details.name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            <label for="mobileNumber">Mobile number</label>
                                                            <input type="text" name="phone" class="form-control form-control-md" v-model="details.phone">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            <label for="emailAddress">Email address</label>
                                                            <input type="email" name="email" class="form-control form-control-md" v-model="details.email">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="Address">Address</label>
                                                            <input type="text" name="address" class="form-control form-control-md" v-model="details.address">
                                                        </div>
                                                    </div>
                                                    <div class="card-footer d-flex justify-content-end">
                                                        <button type="reset" class="btn btn-link text-muted mx-1">Reset</button>
                                                        <button type="submit" class="btn btn-primary" @click="saveChanges">Save Changes</button>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-right shadow-lg rounded-2">
                    <SidebarRight></SidebarRight>
                </div>
            </div>
        </div>
    </div>

</template>
<style scoped>
.sidebar{
    border: #222222;
    margin-left: -240px;
    width: 100%;
}
.main{
    margin-left: -202px;
    width: 145%;
    border: 1px solid #cdcdcd;
}
.app {
    position: relative;
}
.sidebar-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    text-align: center;
    background-color: #f2f2f2;
}
.sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 100vh;
    text-align: center;
    background-color: #f2f2f2;
}
.sidebar{
    margin-left: -200px;
}
/*css sidebar*/
.avatar{
    width: 40px;
    height: 40px;
}
ul li svg{
    width: 15px;
}
</style>