<script>
import SidebarLeft from '../components/Home/SidebarLeft.vue'
import SidebarRight from "../components/Home/SidebarRight.vue";
import {onMounted, reactive, ref} from "vue";
import { httpService } from "@/services/app-service";
import Swal from "sweetalert2";
export default {
    components: {SidebarLeft,SidebarRight},
    data() {
        return {
            users: [],
            messages:{},
            newMessage: '',
            search:[],
            user_id :'',
            repName:'',
            search_query:'',
            message:''
        };
    },
    mounted() {
        this.fetchUsers();
    },
    methods: {
        //danh sách user
        fetchUsers() {
            httpService.Users()
                .then(response => {
                    this.users = response.data;
                })
                .catch(error => {
                    console.error(error);
                });
        },
        // lấy user đang đăng nhập
        getUserId(){
            httpService.DetailUser()
                .then(response => {
                     this.user_id = response.data.id;
                })
                .catch(error => {
                    console.error(error);
                });
        },
        // tìm kiếm user
        searchUser() {
            httpService.searchUsers(this.search_query)
                .then(response => {
                    this.search = response.data;
                })
                .catch(error => {
                    console.error(error);
                });
        },
        // lấy danh sách tin nhắn
        getMess(id,name) {
            this.repName = name;
            httpService.GetMess(id)
                .then(response => {
                    this.messages = response.data.data;
                    this.getUserId();
                    console.log(this.messages);
                })
                .catch(error => {
                    console.error(error);
                });
        },
        // Gửi tin nhắn
        sendMess(){
            const data = {
                content: this.newMessage,
            }
            httpService.CreateMess(this.repId,data)
                .then(response => {
                    window.location.reload();
                })
                .catch(error => {
                    console.error(error);
                });
        },
        // Sửa tin nhắn (user nào nhắn thì dược sửa)
        updatemess(message) {
            const data = {
                content: message.content
            };
            httpService.updateMess(message.id, data)
                .then(response => {
                    Swal.fire({
                        icon: 'success',
                        title: 'Sửa tin nhắn thành công',
                    }).then(() => {
                        window.location.reload();
                    });
                })
                .catch(error => {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Bạn không được sửa tin nhắn của người khác',
                    }).then(() => {
                        window.location.reload();
                    });
                });
        },
        deletemess(message) {
            Swal.fire({
                icon: 'question',
                title: 'Bạn có muốn xóa không?',
                showCancelButton: true,
                confirmButtonText: 'OK',
                cancelButtonText: 'NO',
            }).then((result) => {
                if (result.isConfirmed) {
                    httpService.deleteMess(message.id)
                        .then(response => {
                            Swal.fire({
                                icon: 'success',
                                title: 'Xóa thành công',
                            }).then(() => {
                                window.location.reload();
                            });
                        })
                        .catch(error => {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Bạn không xóa được tin nhắn của người khác',
                            });
                        });
                }
            });
        },
    },

};
onMounted(()=>{
})
</script>

<template>
    <div class="app">
      <div class="container">
        <div class="row g-2">
            <div class="sidebar-left shadow-lg rounded-2" style="background-color: #5950de;">
                <SidebarLeft></SidebarLeft>
            </div>
            <div class="row sidebar">
                <div class="row">
                    <div class="sidebar-header sticky-top p-2" style="width: 30%">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="fw-bold mb-0">Chats</h5>
                            <ul class="nav flex-nowrap">
                                <li class="nav-item list-inline-item d-block d-xl-none me-1">
                                    <a class="nav-link text-muted px-1" href="#" title="Appbar" data-bs-toggle-appbar="">
                                        <svg class="hw-20" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                            <path d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-sub-header">
                            <div class="dropdown me-2">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    All Chats
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" data-bs-toggle="tab" href="#" role="tab">All Chats</a></li>
                                    <li><a class="dropdown-item" data-bs-toggle="tab" href="#" role="tab">Friends</a></li>
                                    <li><a class="dropdown-item" data-bs-toggle="tab" href="#" role="tab">Groups</a></li>
                                    <li><a class="dropdown-item" data-bs-toggle="tab" href="#" role="tab">Unread</a></li>
                                    <li><a class="dropdown-item" data-bs-toggle="tab" href="#" role="tab">Archived</a></li>
                                </ul>
                            </div>
                            <form class="form-inline" style="margin-left: 200px; width: 50%; margin-top: -35px" @submit.prevent="searchUser">
                                <div class="input-group" >
                                    <input type="text" class="form-control border-end-0 transparent-bg pe-0" placeholder="Search users" v-model="search_query">
                                    <button class="input-group-text transparent-bg border-start-0" type="button" >
                                        <svg class="text-muted hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div v-if="search_query !== '' ">
                    <ul class="contacts">
                        <li v-for="user in search" :key="user.id" @click="repId = user.id; getMess(user.id,user.name);searchUser;getUserId" class="rounded-2 border bg-white shadow-lg mt-2">
                            <div class="contacts-link">
                                <div class="row user">
                                    <div class="col-2 d-flex align-items-center ">
                                        <div class="avatar avatar-online"><img class="rounded-circle " src="https://duhocchaudaiduong.edu.vn/hinh-nen-mau-xanh-la-cute/imager_2_3031_700.jpg" alt=""></div>
                                    </div>
                                    <div class="col-10">
                                        <div class="contacts-info">
                                            <div class="contacts-texts">
                                                <div class="chat-name">{{ user.name }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                    <div v-else>
                        <ul class="contacts">
                            <li v-for="user in users" :key="user.id" @click="repId = user.id; getMess(user.id,user.name)" class="rounded-2 border bg-white shadow-lg mt-2">
                                <div class="contacts-link">
                                    <div class="row user">
                                        <div class="col-2 d-flex align-items-center ">
                                            <div class="avatar avatar-online"><img class="rounded-circle " src="https://duhocchaudaiduong.edu.vn/hinh-nen-mau-xanh-la-cute/imager_2_3031_700.jpg" alt=""></div>
                                        </div>
                                        <div class="col-10">
                                            <div class="contacts-info">
                                                <div class="contacts-texts">
                                                    <div class="chat-name">{{ user.name }}</div>
                                                    <!-- <p class="text-muted mb-0" v-if="messages.length > 0">{{ messages[messages.length - 1].content }}</p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                </div>
                <div class="bg-white rounded shadow-lg main">
                    <div class="row">
                        <div class="col-9">
                            <div class="chat-header">
                                <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted d-xl-none" type="button" data-close="">
                                    <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                                    </svg>
                                </button>
                                <div class="row g-0">
                                    <div class="col-sm-6 col-md-1">
                                        <img class="rounded-circle" src="https://hinhnen4k.com/wp-content/uploads/2023/02/anh-gai-xinh-vn-2.jpg" alt="">
                                    </div>
                                    <div class="col-6 col-md-11">
                                        <div class="media-body align-self-center">
                                            <ul>
                                                <li v-if="repName ">
                                                        <span class="message-content">{{ repName }}</span>
                                                </li>
                                            </ul>
                                            <small class="text-muted">Online</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <ul class="nav flex-nowrap">
                                <li class="nav-item list-inline-item d-none d-sm-block mr-1">
                                    <a class="nav-link text-muted px-1" data-toggle="collapse" data-target="#searchCollapse" href="#" aria-expanded="false">
                                        <i class="fa-solid fa-magnifying-glass fa-2x search-name"></i>
                                    </a>
                                </li>
                                <li class="nav-item list-inline-item d-none d-sm-block mr-1">
                                    <a class="nav-link text-muted px-1" href="#" title="Add People">
                                        <i class="fa-solid fa-phone fa-2x phone-show"></i>
                                    </a>
                                </li>
                                <li class="nav-item list-inline-item d-none d-sm-block mr-0">
                                    <div class="dropdown show-name">
                                        <a class="nav-link text-muted px-1" href="#" role="button" title="Details" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="dropdown">
                                                <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    ...
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <hr>
                    </div>
                    <div class="row" >
                        <div class="message-list-container" v-if="messages">
                            <ul>
                                <li v-for="message in messages" :key="message.id">
                                    <div v-if="message.chat_id == user_id" class="chat-content border bg-light rounded text-danger chat-content-left"  >
                                        <span class="message-content">{{ message.content }}</span>
                                    </div>
                                    <div v-if="message.chat_id !== user_id" class="chat-content border bg-light rounded text-primary chat-content-right"  >
                                        <span class="message-content">{{ message.content }}</span>
                                    </div>
                                    <div style="display: flex">
                                        <span class="message-date">{{ new Date(message.created_at).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) }}</span>
                                        <div class="dropdown">
                                            <div type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                ...
                                            </div>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li>
                                                    <a class="dropdown-item" @click="deletemess(message)">xóa</a></li>
                                                <li>
                                                    <div class="input-group mb-3" style="width: 90%; margin-left: 20px; margin-top: 20px">
                                                        <div style="width: 1000px; height: 150px">
                                                            <textarea type="text" class="form-control" name="content" placeholder="Viết tin nhắn" v-model="message.content"></textarea>
                                                        </div>
                                                        <button class="btn btn-primary" type="submit" @click="updatemess(message)">Sửa</button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                        <div v-else>
                            <div class="container" style="margin-left: 500px">
                                <div class="avatar avatar-lg mb-2" style="margin-left: 30px">
                                    <img class="rounded-circle avatar-img" src="https://hinhnen4k.com/wp-content/uploads/2023/02/anh-gai-xinh-vn-2.jpg" alt="">
                                </div>
                                <h5>Welcome, Christina!</h5>
                              <div>
                                  <button class="btn btn-outline-primary no-box-shadow" type="button" data-toggle="modal" >
                                     bắt đầu
                                  </button>
                              </div>
                            </div>
                        </div>
                        <div class="input-group mb-3" style="width: 90%; margin-left: 20px; margin-top: 20px">
                            <input type="text" class="form-control" name="content" placeholder="Viết tin nhắn" v-model="newMessage">
                            <button class="btn btn-primary" type="submit" @click="sendMess">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-right shadow-lg rounded-2">
                <SidebarRight></SidebarRight>
            </div>
        </div>
      </div>
    </div>

</template>

<style scoped>
.row li {
    list-style-type: none;
}
.avatar{
    margin-left: -15px;
}
.main {
    position: fixed;
    top: 0;
    width: 69%;
    right: 100px;
}
.app {
    position: relative;
}
.sidebar-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    text-align: center;
    background-color: #f2f2f2;
}
.sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 100vh;
    text-align: center;
    background-color: #f2f2f2;
}
/*css sidebar*/
.sidebar{
    margin-left: -220px;
    display: flex;
}
.contacts{
    width: 30%;
}

.user:hover{
    background-color: palegreen;
    border-radius: 10px;
}
.chat-name{
    margin-top: 0px;
}
img{
    margin-left: 15px;
    width: 30px;
    height: 30px;
}
ul li {
    list-style: none;
}
p{
    margin-left: 200px;
    margin-top: -25px;
}
/* css phần main*/
.chat-content {
    position: relative;
    padding: 20px;
    width: 30%;
}
chat-content-right{
    margin-left: 800px;
    color: red;
}
chat-content-left{
    margin-left: -800px;
}
.rep-content {
    position: relative;
    margin-left: 850px;
    color: dodgerblue;
    width: 30%;
}
.message-date-rep{
    position: relative;
    margin-left: 850px;
    width: 10px;
}
.message-list-container {
    height: 700px;
    overflow-y: scroll;
}
.chat-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 20% 100%, 0% 80%);
}
img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
svg{
    width: 10px;
    height: 10px;
}
/*icon chỗ main hearder*/
.search-name{
    font-size: 15px;
}
.show-name{
    opacity: 50%;
}
.phone-show{
    font-size: 15px;
}
hr{
    margin-left: 12px;
}
</style>