<script>
import SidebarLeft from '../components/Home/SidebarLeft.vue'
import SidebarRight from "../components/Home/SidebarRight.vue";
import {onMounted, reactive, ref} from "vue";
import { httpService } from "@/services/app-service";
export default {
    components: {SidebarLeft,SidebarRight},
    data() {
        return {
            phonebooks: [],
            detail:{}
        };
    },
    mounted() {
        this.fetchPhonebooks();

    },
    methods: {
        fetchPhonebooks() {
            httpService.Phonebooks()
                .then(response => {
                    this.phonebooks = response.data.data;
                })
                .catch(error => {
                    console.error(error);
                });
        },
        getDetail(id) {
            httpService.detailphonebooks(id)
                .then(response => {
                    this.detail = response.data.data;
                })
                .catch(error => {
                    console.error(error);
                });
        },

    },
};
onMounted(()=>{

})
</script>

<template>
    <div class="app">
        <div class="container">
            <div class="row g-2">
                <div class="sidebar-left shadow-lg rounded-2" style="background-color: #5950de;">
                    <SidebarLeft></SidebarLeft>
                </div>
                <div class="col-4">
                    <div class="sidebar">
                        <div class="row">
                            <div class="row" style="margin-left: 20px">
                                <div class="col-sm-6 col-md-4">
                                    <h3>Chats</h3></div>
                                <div class="col-6 col-md-8">
                                    <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="fa-solid fa-bell bell"></i>
                                    </a>
                                    <div class="modal" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Modal title</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Modal body text goes here.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown show-bell">
                                        <h data-bs-toggle="dropdown" aria-expanded="false">
                                            ...
                                        </h>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row g-0" style="margin-left: 40px">
                                <div class="col-sm-6 col-md-4">
                                    <div class="dropdown">
                                        <h class=" dropdown-toggle allchat"  data-bs-toggle="dropdown" aria-expanded="false">
                                            All chats
                                        </h>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-6 col-md-8" style="opacity: 50%">
                                    <input type="text" placeholder="tìm kiếm" >
                                </div>
                            </div>
                            <div class="col-7"></div>
                        </div>
                        <ul class="contacts" id="callLogTab" data-call-list="">
                            <li v-for="phonebook in phonebooks" :key="phonebook.user_id" @click="getDetail(phonebook.user_id)" class="rounded-2 border bg-white shadow-lg mt-2">
                                <div class="contacts-link">
                                    <div class="row">
                                    <div class="row">
                                        <div class="col-2 d-flex align-items-center ">
                                            <div class="avatar avatar-online"><img class="rounded-circle " src="https://i.pinimg.com/474x/0e/1f/e4/0e1fe40f104007fa0d35cb09583f8939.jpg" alt=""></div>
                                        </div>
                                        <div class="col-10">
                                            <div class="contacts-info">
                                                <h5 class="chat-name">{{phonebook.name}}</h5>
                                                <div class="contacts-texts">
                                                    <p class="text-muted timecall"><i class="fa-solid fa-location-dot"></i>{{phonebook.address}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-8">
                    <div class="main bg-white rounded shadow-lg">
                        <div class="row">
                            <div class="row" style="margin-top: -80px">
                                <div class="col-9">
                                    <div class="chat-header">
                                        <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted d-xl-none" type="button" data-close="">
                                            <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                                            </svg>
                                        </button>
                                        <div class="row g-0" >
                                            <img class="rounded-circle anh-details" src="https://images.pexels.com/photos/3654869/pexels-photo-3654869.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                                            <div class="media-body align-self-center iteams">
                                                <div class="text-truncate mb-0" v-if="detail && detail.name">{{detail.name}}</div>
                                                <br>
                                                <div style="margin-left: -50px">
                                                <a href="" class=" iteamson "><i class="text-warning fa-solid fa-comment-dots fa-2x"></i><i style="margin-left: 40px" class=" text-success fa-solid fa-phone fa-2x"></i></a>
                                                    <a href="" class="text-danger iteamson "><i class="fa-regular fa-trash-can fa-2x"></i> </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col">
                            <div class="card" >
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Phone</p>
                                                <p class="mb-0" v-if="detail && detail.phone">{{detail.phone}}</p>
                                            </div>
                                            <svg class="text-muted hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Email</p>
                                                <p class="mb-0" v-if="detail && detail.email">{{detail.email}}</p>
                                            </div>
                                            <svg class="text-muted hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Address</p>
                                                <p class="mb-0"  v-if="detail && detail.address" >{{detail.address}}</p>
                                            </div>
                                            <svg class="text-muted hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                                            </svg>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Facebook</p>
                                                <a class="font-size-sm font-weight-medium" href="#">@cathe.richardson</a>
                                            </div>
                                            <svg class="text-muted hw-20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Twitter</p>
                                                <a class="font-size-sm font-weight-medium" href="#">@cathe.richardson</a>
                                            </div>
                                            <svg class="text-muted hw-20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Instagram</p>
                                                <a class="font-size-sm font-weight-medium" href="#">@cathe.richardson</a>
                                            </div>
                                            <svg class="text-muted hw-20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                            </svg>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Linkedin</p>
                                                <a class="font-size-sm font-weight-medium" href="#">@cathe.richardson</a>
                                            </div>
                                            <svg class="text-muted hw-20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                                                <rect x="2" y="9" width="4" height="12"></rect>
                                                <circle cx="4" cy="4" r="2"></circle>
                                            </svg>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-right shadow-lg rounded-2">
                    <SidebarRight></SidebarRight>
                </div>
            </div>
        </div>
    </div>

</template>
<style scoped>
.sidebar{
    border: #222222;
    margin-left: -240px;
    width: 100%;
}
.main{
    margin-left: -230px;
    width: 148%;
    border: 1px solid #cdcdcd;
}
.app {
    position: relative;
}
.sidebar-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    text-align: center;
    background-color: #f2f2f2;
}
.sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 100vh;
    text-align: center;
    background-color: #f2f2f2;
}
/*css sidebar*/
 h5{
     font-size: 15px;
 }
h6{
    opacity: 50%;
}
.contacts{
    margin-top: 30px;
}
.timecall{
    margin-left: 0px;
    margin-top: -10px;
}
.chat-name{
    margin-top: 25px;
}
.allchat{
    border: 1px solid #cdcdcd;
    margin-left: 10px;
}
img{
    margin-left: 15px;
    width: 30px;
    height: 30px;
}
ul li {
    list-style: none;
}
p{
    margin-left: 200px;
}
.bell{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 140px
}
.show-bell{
    margin-left: 200px;
    margin-top: -30px;
    opacity: 100%;
}
/*css main*/
.card{
    width:80%;
    margin-left: 100px;
    margin-top: 50px;
    background-color: lightgray;
    opacity: 70%;
}
.iteams{
    margin-left: 500px;
    margin-top: 20px;
}
.iteamson{
    margin-left: 45px;
}
header{
    text-align: center;
}
svg{
    width: 10px;
    height: 10px;
}
.anh-details{
    width: 150px;
    height: 150px;
    margin-left: 500px;
    margin-top: 100px;
}
</style>
