<script>
import SidebarLeft from '../components/Home/SidebarLeft.vue'
import SidebarRight from "../components/Home/SidebarRight.vue";
import {onMounted, reactive, ref} from "vue";
import { httpService } from "@/services/app-service";
export default {
    components: {SidebarLeft,SidebarRight},
    data() {
        return {
            phonebooks: [],
        };
    },
    mounted() {
        this.GetPhonebooks();
    },
    methods: {
        GetPhonebooks() {
            httpService.Users()
                .then(response => {
                    this.phonebooks = response.data;
                })
                .catch(error => {
                    console.error(error);
                });
        },
    },
};

onMounted(()=>{

})
</script>
<template>
    <div class="app">
        <div class="container">
            <div class="row g-2">
                <div class="sidebar-left shadow-lg rounded-2" style="background-color: #5950de;">
                    <SidebarLeft></SidebarLeft>
                </div>
                <div class="col-4">
                    <div class="sidebar">
                        <div class="row">
                            <div class="row" style="margin-left: 20px">
                                <div class="col-sm-6 col-md-4">
                                    <h3>Chats</h3></div>
                                <div class="col-6 col-md-8">
                                    <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="fa-solid fa-bell bell"></i>
                                    </a>
                                    <div class="modal" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Modal title</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Modal body text goes here.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown show-bell">
                                        <h data-bs-toggle="dropdown" aria-expanded="false">
                                            ...
                                        </h>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row g-0" style="margin-left: 40px">
                                <div class="col-sm-6 col-md-4">
                                    <div class="dropdown">
                                        <h class=" dropdown-toggle allchat"  data-bs-toggle="dropdown" aria-expanded="false">
                                            All chats
                                        </h>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-6 col-md-8" style="opacity: 50%">
                                    <input type="text" placeholder="tìm kiếm">
                                </div>
                            </div>
                            <div class="col-7"></div>
                        </div>
                        <ul class="contacts" id="callLogTab" data-call-list="">
                            <li v-for="phonebook in phonebooks" :key="phonebooks.id" @click="getInfo(phonebook.id)" class="rounded-2 border bg-white shadow-lg mt-2">
                                <div class="contacts-link">
                                    <div class="row">
                                        <div class="col-2 d-flex align-items-center ">
                                            <div class="avatar avatar-online"><img class="rounded-circle " src="https://i.pinimg.com/474x/0e/1f/e4/0e1fe40f104007fa0d35cb09583f8939.jpg" alt=""></div>
                                        </div>
                                        <div class="col-10">
                                            <div class="contacts-info">
                                                <h6 class="chat-name">{{phonebook.name}}</h6>
                                                <div class="contacts-texts">
                                                    <p class="text-muted timecall"> <i style="margin-right: 10px" class="fa-solid fa-phone-volume text-success"></i>Just now<i style="margin-left: 200px;opacity: 50%" class="fa-solid fa-phone"></i></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-8">
                    <div class="main bg-white rounded shadow-lg">
                        <div class="row">
                            <div class="row" style="margin-top: -80px">
                                <div class="col-9">
                                    <div class="chat-header">
                                        <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted d-xl-none" type="button" data-close="">
                                            <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                                            </svg>
                                        </button>
                                        <div class="row g-0">
                                            <img class="rounded-circle details-anh" src="https://images.pexels.com/photos/3654869/pexels-photo-3654869.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                                            <div class="media-body align-self-center iteams">
                                                <h6 class="text-truncate mb-0">Catherine Richardson</h6>
                                                <small class="text-danger iteamson ">0769354223</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-body">
                                            <h6>Incoming Call</h6>

                                            <div class="d-flex flex-column flex-sm-row align-items-sm-center align-items-start">
                                                <p class="text-muted mb-0">Just now</p><span class="d-none d-sm-block text-muted mx-2">•</span>
                                                <p class="text-muted mb-0">2m 35s</p>
                                            </div>
                                        </div>
                                        <div class="media-options ml-1 d-none d-sm-block">
                                            <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted" type="button">
                                                <i class="fa-solid fa-phone"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-body">
                                            <h6>Incoming Call</h6>

                                            <div class="d-flex flex-column flex-sm-row align-items-sm-center align-items-start">
                                                <p class="text-muted mb-0">Just now</p><span class="d-none d-sm-block text-muted mx-2">•</span>
                                                <p class="text-muted mb-0">2m 35s</p>
                                            </div>
                                        </div>
                                        <div class="media-options ml-1 d-none d-sm-block">
                                            <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted" type="button">
                                                <i class="fa-solid fa-phone"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-body">
                                            <h6>Incoming Call</h6>

                                            <div class="d-flex flex-column flex-sm-row align-items-sm-center align-items-start">
                                                <p class="text-muted mb-0">Just now</p><span class="d-none d-sm-block text-muted mx-2">•</span>
                                                <p class="text-muted mb-0">2m 35s</p>
                                            </div>
                                        </div>
                                        <div class="media-options ml-1 d-none d-sm-block">
                                            <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted" type="button">
                                                <i class="fa-solid fa-phone"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-body">
                                            <h6>Incoming Call</h6>

                                            <div class="d-flex flex-column flex-sm-row align-items-sm-center align-items-start">
                                                <p class="text-muted mb-0">Just now</p><span class="d-none d-sm-block text-muted mx-2">•</span>
                                                <p class="text-muted mb-0">2m 35s</p>
                                            </div>
                                        </div>
                                        <div class="media-options ml-1 d-none d-sm-block">
                                            <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted" type="button">
                                                <i class="fa-solid fa-phone"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-body">
                                            <h6>Incoming Call</h6>

                                            <div class="d-flex flex-column flex-sm-row align-items-sm-center align-items-start">
                                                <p class="text-muted mb-0">Just now</p><span class="d-none d-sm-block text-muted mx-2">•</span>
                                                <p class="text-muted mb-0">2m 35s</p>
                                            </div>
                                        </div>
                                        <div class="media-options ml-1 d-none d-sm-block">
                                            <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted" type="button">
                                                <i class="fa-solid fa-phone"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-body">
                                            <h6>Incoming Call</h6>

                                            <div class="d-flex flex-column flex-sm-row align-items-sm-center align-items-start">
                                                <p class="text-muted mb-0">Just now</p><span class="d-none d-sm-block text-muted mx-2">•</span>
                                                <p class="text-muted mb-0">2m 35s</p>
                                            </div>
                                        </div>
                                        <div class="media-options ml-1 d-none d-sm-block">
                                            <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted" type="button">
                                                <i class="fa-solid fa-phone"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-body">
                                            <h6>Incoming Call</h6>

                                            <div class="d-flex flex-column flex-sm-row align-items-sm-center align-items-start">
                                                <p class="text-muted mb-0">Just now</p><span class="d-none d-sm-block text-muted mx-2">•</span>
                                                <p class="text-muted mb-0">2m 35s</p>
                                            </div>
                                        </div>
                                        <div class="media-options ml-1 d-none d-sm-block">
                                            <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted" type="button">
                                                <i class="fa-solid fa-phone"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-body">
                                            <h6>Incoming Call</h6>

                                            <div class="d-flex flex-column flex-sm-row align-items-sm-center align-items-start">
                                                <p class="text-muted mb-0">Just now</p><span class="d-none d-sm-block text-muted mx-2">•</span>
                                                <p class="text-muted mb-0">2m 35s</p>
                                            </div>
                                        </div>
                                        <div class="media-options ml-1 d-none d-sm-block">
                                            <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted" type="button">
                                                <i class="fa-solid fa-phone"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-right shadow-lg rounded-2">
                    <SidebarRight></SidebarRight>
                </div>
            </div>
        </div>
    </div>

</template>
<style scoped>
.sidebar{
    border: #222222;
    margin-left: -240px;
    width: 100%;
}
.main{
    margin-left: -230px;
    width: 148%;
    border: 1px solid #cdcdcd;
}
.app {
    position: relative;
}
.sidebar-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    text-align: center;
    background-color: #f2f2f2;
}
.sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 100vh;
    text-align: center;
    background-color: #f2f2f2;
}
/*css side bar*/
.contacts{
    margin-top: 30px;
}
.timecall{
    margin-left: 0px;
    margin-top: -10px;
}
.chat-name{
    margin-top: 25px;
}
.allchat{
    border: 1px solid #cdcdcd;
    margin-left: 10px;
}
img{
    margin-left: 15px;
    width: 30px;
    height: 30px;
}
ul li {
    list-style: none;
}
p{
    margin-left: 200px;
}
.bell{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 140px
}
.show-bell{
    margin-left: 200px;
    margin-top: -30px;
    opacity: 100%;
}
/*css main*/
.card{
    width:80%;
    margin-left: 100px;
    margin-top: 50px;
    background-color: lightgray;
    opacity: 70%;
}
.iteams{
    margin-left: 500px;
    margin-top: 20px;
}
.iteamson{
    margin-left: 45px;
}
header{
    text-align: center;
}
.details-anh{
    width: 150px;
    height: 150px;
    margin-left: 500px;
    margin-top: 100px;
}
svg{
    width: 10px;
    height: 10px;
}

</style>