<script>
export default {
    props: {
        messages: {
            type: Array,
            required: true
        }
    }
};

</script>

<template>
    <div class="row">
        <div class="col-9">
            <div class="chat-header">
                <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted d-xl-none" type="button" data-close="">
                    <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                    </svg>
                </button>
                <div class="row g-0">
                    <div class="col-sm-6 col-md-1">
                        <img class="rounded-circle" src="https://images.pexels.com/photos/3654869/pexels-photo-3654869.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                    </div>
                    <div class="col-6 col-md-11">
                        <div class="media-body align-self-center ">
<!--                            <div class="text-truncate mb-0">{{ messages.name }}</div>-->
                            <small class="text-muted">Online</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <ul class="nav flex-nowrap">
                <li class="nav-item list-inline-item d-none d-sm-block mr-1">
                    <a class="nav-link text-muted px-1" data-toggle="collapse" data-target="#searchCollapse" href="#" aria-expanded="false">
                        <i class="fa-solid fa-magnifying-glass fa-2x search-name"></i>
                    </a>
                </li>
                <li class="nav-item list-inline-item d-none d-sm-block mr-1">
                    <a class="nav-link text-muted px-1" href="#" title="Add People">
                        <i class="fa-solid fa-phone fa-2x phone-show"></i>
                    </a>
                </li>
                <li class="nav-item list-inline-item d-none d-sm-block mr-0">
                    <div class="dropdown show-name">
                        <a class="nav-link text-muted px-1" href="#" role="button" title="Details" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="dropdown">
                                <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ...
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <hr>
    </div>
    <div class="row">
        <li v-for="message in messages" :key="message.id"></li>
        <div class="chat-content border bg-light rounded text-dark ">
            <span class="message-date" >{{messages.content}}</span>
        </div>
        <div class="rep-content border bg-primary rounded text-light shadow-lg">
            <span class="message-date" >{{messages.created_at}}</span>
        </div>
    </div>
    <div class="input-group mb-3" style="width: 90%; margin-left: 20px; margin-top: 20px">
        <input type="text" class="form-control" placeholder="Viết tin nhắn" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-primary" type="submit" id="button-addon2">Gửi</button>
    </div>
</template>
<style scoped>
.chat-content {
    position: relative;
    padding: 20px;
    width: 30%;
}
.rep-content {
    position: relative;
    margin-left: 850px;
    color: dodgerblue;
    width: 30%;
}
.chat-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 20% 100%, 0% 80%);
}
img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
svg{
    width: 10px;
    height: 10px;
}
/*icon chỗ main hearder*/
.search-name{
    font-size: 15px;
}
.show-name{
    opacity: 50%;
}
.phone-show{
    font-size: 15px;
}
hr{
    margin-left: 12px;
}
</style>