<template>
  bên phải đây
    <div>
        <ul class="sidebar-right">
            <li><a href=""><i class="fa-solid fa-language text-blue"></i></a></li>
                <li><a href=""><i class="fa-regular fa-folder-closed text-blue"></i></a></li>
                <li><a href=""><i class="fa-solid fa-square-check text-blue"></i></a></li>
                <li><a href=""><i class="fa-solid fa-gear text-blue"></i></a></li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "SidebarRight"
}
</script>

<style scoped>
.appbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
}
.sidebar-right {
    width: 30%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}
.sidebar-right li {
    margin-top: 30px;
    margin-left: 10px;
}

.sidebar-left li a i {
    text-decoration: none;
    font-size: 20px;
    color: blue;

}
</style>