<script>
export default {
    name: "SidebarLeft"
}
</script>
<template>
    <div>
        <ul class="sidebar-left">
            <li><a href=""><i class="fa-brands fa-facebook-messenger text-white"></i></a></li>
            <div style="margin-top: 400px">
                <router-link :to="{ name: 'home' }"><li><a href=""><i class="fa-regular fa-comments text-white"></i></a></li></router-link>
                <router-link :to="{ name: 'phonebooks' }">  <li><a href=""><i class="fas fa-phone text-white"></i></a></li></router-link>
                <router-link :to="{ name: 'details' }"><li><a href=""><i class="fa-solid fa-user-group text-white"></i></a></li></router-link>
                <router-link :to="{ name: 'detailsUser' }"><li><a href=""><i class="fa-solid fa-circle-user text-white"></i></a></li></router-link>
            </div>
        </ul>
    </div>
</template>

<style scoped>
.sidebar-left {
    width: 30%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-light: 20px;
}
.sidebar-left li {
    margin-top: 30px;
    margin-left: 10px;
}

.sidebar-left li a i {
    text-decoration: none;
    font-size: 20px;
    color: blue;

}
</style>
