<script>
import { onMounted, reactive } from "vue";
import { httpService } from "@/services/app-service";
import Main from "../Home/Main.vue";
export default {
    components: {Main},
    data() {
        return {
            users: [],
            messages: []
        };
    },
    mounted() {
        this.fetchUsers();
    },
    methods: {
        fetchUsers() {
            httpService.Users()
                .then(response => {
                    this.users = response.data;
                })
                .catch(error => {
                    console.error(error);
                });
        },
        getMess(id) {
            httpService.GetMess(id)
                .then(response => {
                     const messages = response.data;
                    // Lưu trữ thông tin tin nhắn
                    console.log( messages);
                })
                .catch(error => {
                    console.error(error);
                });
        }
    }
};
onMounted(()=>{

})
</script>

<template>
  <div class="row">
      <div class="row" style="margin-left: 20px">
          <div class="col-sm-6 col-md-4">
              <h3>Chats</h3></div>
          <div class="col-6 col-md-8">
                  <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <i class="fa-solid fa-bell bell"></i>
                  </a>
                  <div class="modal" tabindex="-1">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title">Modal title</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  <p>Modal body text goes here.</p>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary">Save changes</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="dropdown show-bell">
                      <h data-bs-toggle="dropdown" aria-expanded="false">
                          ...
                      </h>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                  </div>
          </div>
      </div>

      <div class="row g-0" style="margin-left: 40px">
          <div class="col-sm-6 col-md-4">
              <div class="dropdown">
                  <h class=" dropdown-toggle allchat"  data-bs-toggle="dropdown" aria-expanded="false">
                      All chats
                  </h>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-6 col-md-8" style="opacity: 50%">
              <input type="text" placeholder="tìm kiếm">
          </div>
      </div>
    <div class="col-7"></div>
  </div>
    <ul class="contacts" id="callLogTab" data-call-list="">
        <li v-for="user in users" :key="user.id"  @click="getMess(user.id)" class="rounded-2 border bg-white shadow-lg mt-2">
            <div class="contacts-link">
                <div class="row user">
                    <div class="col-2 d-flex align-items-center ">
                        <div class="avatar avatar-online"><img class="rounded-circle " src="https://i.pinimg.com/474x/0e/1f/e4/0e1fe40f104007fa0d35cb09583f8939.jpg" alt=""></div>
                    </div>
                    <div class="col-10">
                        <div class="contacts-info">
                            <div class="contacts-texts">
                                <div class="chat-name">{{ user.name }}</div> để để nhìn id ...{{ user.id }}   <p class="text-muted mb-0 ">Just now</p>
                            </div>
                            <h6 class="chat-name text-danger">I’m sorry, I didn’t catch that. Could you
                                please repeat?</h6>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

</template>

<style scoped>
.user:hover{
    background-color: palegreen;
    border-radius: 10px;
}
.chat-name{
    margin-top: 20px;
}
.allchat{
    border: 1px solid #cdcdcd;
    margin-left: 10px;
}
img{
    margin-left: 15px;
    width: 30px;
    height: 30px;
}
ul li {
    list-style: none;
}
p{
  margin-left: 200px;
    margin-top: -25px;
}
.bell{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 140px
}
.show-bell{
    margin-left: 200px;
    margin-top: -30px;
    opacity: 100%;
}
.search{
    opacity: 50%;
    margin-left: 3px;
}
</style>