<template>
    <div class="d-flex flex-column justify-content-center text-center h-100 w-100">
        <div class="container">
            <div class="avatar avatar-lg mb-2">
                <img class="avatar-img" src="https://thuthuatnhanh.com/wp-content/uploads/2020/03/nen-mau-xanh-la-cay.jpg" alt="">
            </div>

            <h5>Welcome, Christina!</h5>
            <p class="text-muted">Please select a chat to Start messaging.</p>

            <button class="btn btn-outline-primary no-box-shadow" type="button" data-toggle="modal" data-target="#startConversation">
                Start a conversation
            </button>
        </div>
    </div>
</template>

<script>
export default {
    name: "Start"
}
</script>

<style scoped>

</style>