<script>
import { httpService } from "@/services/app-service";
import { onMounted, reactive, ref } from "vue";
import router from "../../router";

export default {
    setup() {
        const loginForm = reactive({
            email: "",
            password: ""
        });
        const errors = ref(null);
        const inputEmail = ref(null);

        function loginClick() {
            httpService.login(loginForm)
                .then(res => {
                    console.log(res.data);
                    router.push("/");
                }).catch(err => {
                const data = err.response?.data;
                if (data.errors) {
                    errors.value = data.errors;
                    console.log(inputEmail.value);
                    inputEmail.value.focus();
                }
            });
        }

        onMounted(() => {

        });

        return {
            loginForm,
            errors,
            inputEmail,
            loginClick
        };
    }
};
</script>
<template>
    <div class="container">
        <div class="form-wrapper">
            <h2>Đăng Nhập</h2>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input ref="inputEmail" type="email" :class="{'is-invalid': errors && errors.email}" v-model="loginForm.email">
                    <p v-if="errors && errors.email && errors.email.length">Bạn cần nhập email</p>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password"  v-model="loginForm.password" >
                </div>
                <div class="form-group">
                    <button type="submit" @click="loginClick">Login</button>
                </div>
        </div>
    </div>
</template>


<style scoped>
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQOjrhSIJeE49TbRqBXgZHsaa9L4AMdbN3Ow&usqp=CAU");
    background-size: cover;
    background-position: center;
}

.form-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.form-group button:hover {
    background-color: #45a049;
}
</style>